.container {
  min-height: 99vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.main {
  display: flex;
   justify-content: center;
   align-items:center;
}

.gridContainer {
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
}

.gridContainer > div {
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 600px) {
  .gridContainer {
    display: grid;
    align-content: center;
    grid-template-columns: auto auto;
    gap: 5px;
    padding: 5px;
  }
  
  .gridContainer > div {
    text-align: center;
    padding: 10px 0;
  }
}

